// COLORS
$CornflowerBlue: #6390f9;
$LaPalma: #19a819;
$Pomegranate: #e53615;
$DoveGray: #707070;
$primary: #dd0041;
$primary-faded: #ffeeee;
$secondary: #fdcc4a;
$transparent: 'transparent';
$status: #2e5aac;
$bg-1: #f3f6fb;
$bg-2: #f3f3f3;
$bg-3: #fee;
$neutral: #ffffff;
$neutral-1: #2c3a4b;
$neutral-2: #394452;
$neutral-3: #545d69;
$neutral-4: #545d69;
$neutral-5: #858c94;
$neutral-6: #a5abb3;
$neutral-7: #dadee3;
$neutral-8: #ebeef2;
$neutral-9: #f4f6f9;
$neutral-10: #f4f6f9;
$neutral-11: #dadada;
$neutral-12: #e5e5e5;
$red-color: #e71616;
$red-1: #ed3126;
$red-2: #ef5d5d;
$red-3: rgb(221 0 65 / 70%);
$red-4: rgb(221 0 65 / 90%);
$red-5: #ffe6e6;
$red-6: #a91111;
$red-7: #fee6e6;
$red-8: #ff6578;
$red-accent-2: #de2345;
$error: $red-accent-2;
$red-lighten-1: #fddddd;
$pink-1: #fc4a69;
$pink-2: #ff4560;
$yellow-1: #fbad17;
$yellow-2: #ffba33;
$yellow-lighten-1: #fffdd6;
$yellow-3: #ffd953;
$yellow-4: #ffc350;
$yellow-5: #f6931e;
$yellow-6: #feb019;
$orange-color: #fb9217;
$orange-color-2: #ffb55e;
$orange-3: #f9ab63;
$orange-light: #ff9230;
$green-color: #0ab057;
$green-lighten-1: #e6ffe6;
$green-1: #12c130;
$green-2: #08864a;
$green-3: #19ab4f;
$green-4: #027932;
$green-5: #00e396;
$green-6: #e6fee6;
$green-7: #e6fee6;
$green-light: #2ecd6f;
$blue-color: #2392b5;
$blue-2: #62dfc9;
$blue-1: #1e52d9;
$blue-3: #17a2b8;
$blue-4: #008ffb;
$blue-6: #f2f3fd;
$blue-7: #6390f9;
$blue-8: #eef2fa;
$gray-color: #ebeef2;
$gray-2: #9e9e9e;
$gray-color-2: #eee;
$gray-color-3: #6d7580;
$gray-color-4: #ddd;
$gray-color-5: #f2f2f2;
$green-7: #e6fef1;
$shadow-1: #0000000d;
$shadow-2: #0908080a;
$shadow-3: #ffffff4c;
$shadow-4: #0000001d;
$green-success-background: #dafce0;
$red-error-background: #fcdada;
$status-success: #287d3c;
$status-error: #da1414;
$status-neutral: #a5abb3;
$violet: #775dd0;
$purple-1: #9363f9;
$primary-faded: #ffeeee;
$black-1: #0a0a09;
$element-bg-1: #fefde6;
$element-bg-2: #e6eefe;
$element-bg-3: #feefe6;
$element-bg-4: #f6e6fe;
$black: black;

// COLOR PALLET
$PrimaryColor: $CornflowerBlue;
$SucessColor: $LaPalma;
$FailColor: $Pomegranate;
$RegularColorText: $DoveGray;

// FONTS SIZES
$body-font-family: 'poppins';
$RegularText: 14px;

:export {
  primary: $primary;
  redcolor: $red-color;
  redcolor2: $red-2;
  redcolor3: $red-3;
  redcolor4: $red-4;
  redaccent2: $red-accent-2;
  yellowcolor: $yellow-1;
  greencolor: $green-color;
  graycolor: $gray-color;
  greencolor1: $green-1;
  greencolor2: $green-2;
  greencolor3: $green-3;
  greencolor4: $green-4;
  yellowcolor1: $yellow-1;
  yellowcolor2: $yellow-2;
  yellowcolor3: $yellow-3;
  yellowcolor4: $yellow-4;
  yellowcolor5: $yellow-5;
  orangecolor: $orange-color;
  orangecolor3: $orange-3;
  bluecolor: $blue-color;
  bluecolor7: $blue-7;
  bluecolor8: $blue-8;
  bluecolor2: $blue-2;
  secondary: $secondary;
  neutral: $neutral;
  neutral1: $neutral-1;
  neutral2: $neutral-2;
  neutral3: $neutral-3;
  neutral4: $neutral-4;
  neutral5: $neutral-5;
  neutral6: $neutral-6;
  neutral7: $neutral-7;
  neutral8: $neutral-8;
  neutral11: $neutral-11;
  bluecolor3: $blue-3;
  graycolor2: $gray-2;
  statuserror: $status-error;
  bluecolor4: $blue-4;
  greencolor5: $green-5;
  yellowcolor6: $yellow-6;
  redcolor6: $red-6;
  violet: $violet;
  pinkcolor2: $pink-2;
  error: $red-accent-2;
  purple1: $purple-1;
}
