@import 'src/styles/abstracts/mixins.scss';

.tree-node {
  @include flex(center, center);

  min-width: 180px;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  background-color: $neutral;

  margin: 0 50px;
  pointer-events: all;
  box-shadow: 0 4px 9px 0 $shadow-1;
}

.node-slot:hover {
  .move-node,
  .edit-node,
  .clone-node,
  .delete-node,
  .add-new-node,
  .children-count {
    display: inherit;
  }
}

.children-count {
  @include font-source(0.75rem);
  font-weight: 700;

  display: none;
  position: absolute;
  left: 36px;
  bottom: 43px;
}

.add-new-node {
  @include font-source(1rem);
  font-weight: 600;

  display: none;
  position: absolute;
  right: 37px;
  bottom: 40px;
}

.node-action {
  @include font-source(0.75rem);
  font-weight: 600;

  display: none;
  position: absolute;
  right: 63px;
  top: 45px;
}

$spacing: 27px;

.edit-node {
  @extend .node-action;
  right: 36px;
}

.clone-node {
  @extend .node-action;
  right: 61px;
}

.move-node {
  @extend .node-action;
  right: 85px;
}

.delete-node {
  @extend .node-action;
  right: 109px;
}

.show-children {
  @include flex(center, center);

  position: absolute;
  top: 60%;
  width: 36px;
  padding: 5px;
  border-radius: 100%;
}

.rotate180 {
  transform: rotate(-180deg) !important;
}

.normal {
  margin-top: 6px;
}

.text-icon {
  @include font-source(0.75rem);
  @include overflow-ellipsis();
  max-width: 180px;
}
